html,
body {
    height: 100%;
    width: 100%;
}

img {
    display: block;
    margin: auto;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    z-index: 999;
    box-shadow: none !important;
}

a.navbar-item.is-white:hover {
    
    color: black !important;
}

.is-dark {
    background-color: #363636 !important;
    border-bottom: solid 1px #505050;
    color: #ddd;
}

.is-white {
    color: #fff !important;
}

#projects {
    padding-top: 50px;
    margin-top: -50px;
}

#about {
    padding-top: 50px;
    margin-top: -50px;
}

.icon-slider {
    text-align: center;
    font-size: 60px;
    -webkit-animation: fadein 2s ease-in;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease-in;
    /* Firefox < 16 */
    -ms-animation: fadein 3 ease-in;
    /* Internet Explorer */
    -o-animation: fadein 3s ease-in;
    /* Opera < 12.1 */
    animation: fadein 3s ease-in;
    animation: fadein 3s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#projectHeader {
    color: white;
}

.footer {
    text-align: center;
}

.titleLogo {
    text-align: center;
    color: black;
    border-top: solid black;
    border-bottom: solid black;
    padding: 50px;
    margin-bottom: 50px;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
}

.projectLogo {
    text-align: center;
    border-top: solid white;
    border-bottom: solid white;
    padding: 50px;
    margin-bottom: 50px;
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
    font-size: 20px;
}

.aboutMe {
    font-family: Lato;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    padding: 25px;
    max-width: 100%;
    height: auto;
    -webkit-animation: fadein 3s ease-in;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease-in;
    /* Firefox < 16 */
    -ms-animation: fadein 3 ease-in;
    /* Internet Explorer */
    -o-animation: fadein 3s ease-in;
    /* Opera < 12.1 */
    animation: fadein 3s ease-in;
    animation: fadein 3s ease-in;
}

.main-title {
    font-size: 40px;
}
